.contact-content {
  border: 1px solid #AFAFAF;
}

.contact-content h4,
.contact-content h4 a {
  color: #C31A1E;
}

.contact-content h4 {
  background: #E5E5E5;
  border-bottom: 1px solid #AFAFAF;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.contact-content h4 .g-fg-grey {
  color: #858585;
}

.contact-content h4 .square {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background: #C31A1E;
  margin: 3px 10px 0 0;
}

.contact-content .about-me {
  padding: 30px;
}

.contact-content .about-me .contact-me {
  margin-top: 30px;
}

.contact-content .about-me .contact-me dl {
  border: none;
}

.contact-content .about-me .contact-me dt {
  background: none;
  color: #646464;
  font-size: 18px;
  border-bottom: 1px dashed #ccc;
}

.contact-content .about-me .contact-me li {
  float: left;
  margin: 5px 15px;
}
