.goods-classify li {
  border: 1px solid #B0B0B0;
  margin-bottom: 15px;
  padding: 5px 0;
  text-align: left;
}

.goods-classify li.title {
  padding: 12px 20px;
  color: #fff;
  background: #C31A1E;
}

.goods-classify li a {
  color: #C31A1E;
}

.goods-classify.uk-nav-parent-icon>.uk-parent>a:after {
  float: left;
  transform: rotate(180deg);
  margin-right: 10px;
}

.contact-me {
  text-align: left;
}

.contact-me dl {
  border: 1px solid #b0b0b0;
}

.contact-me dt {
  background: #E5E5E5;
  padding: 10px 22px;
  color: #C31A1E;
}

.contact-me .contact-way {
  margin-top: 20px;
}

.contact-me .contact-way li {
  margin: 5px 22px;
  color: #737373;
}

.contact-me .contact-way .address {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.goods-list {
  height: 934px;
  border: 1px solid #AFAFAF;
}

.goods-list h4,
.goods-list h4 a {
  color: #C31A1E;
}

.goods-list h4 {
  background: #E5E5E5;
  border-bottom: 1px solid #AFAFAF;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.goods-list h4 .g-fg-grey {
  color: #858585;
}

.goods-list h4 .square {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background: #C31A1E;
  margin: 3px 10px 0 0;
}


.goods-list .goods-display-list {
  height: 820px;
}

.goods-list .goods-display-list ul {
  padding: 0 15px;
}

.goods-list li {
  margin: 15px 0;
}

.goods-list li .goods-name {
  margin: 10px 0;
}

.goods-list .page-bar .uk-pagination>.uk-active>span {
  background: #C31A1E;
}
