.new-infomation-list {
  border: 1px solid #b0b0b0;
  margin-bottom: 20px;
}

.new-infomation-list.uk-nav-parent-icon>.uk-parent>a:after {
  display: none;
}

.new-infomation-list li {
  padding: 5px 0;
  text-align: left;
  border-bottom: 1px dashed #ccc;
}

.new-infomation-list li a {
  color: #737373;
}

.new-infomation-list li a.active {
  color: #C31A1E;
}

.new-infomation-list li:last-child {
  border-bottom: none;
}

.new-infomation-list li.title {
  padding: 12px 20px;
  color: #fff;
  background: #C31A1E;
  border-bottom: none;
}

.new-infomation-content {
  border: 1px solid #AFAFAF;
}

.new-infomation-content h4,
.new-infomation-content h4 a {
  color: #C31A1E;
}

.new-infomation-content h4 {
  background: #E5E5E5;
  border-bottom: 1px solid #AFAFAF;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.new-infomation-content h4 .g-fg-grey {
  color: #858585;
}

.new-infomation-content h4 .square {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background: #C31A1E;
  margin: 3px 10px 0 0;
}

.new-infomation-content .article-content {
  padding: 30px;
}

.new-infomation-content .article-content .article {
  border-top: 2px dashed #C31A1E;
  border-bottom: 2px dashed #737373;
  padding: 30px 0;
  margin: 15px 0;
}

.new-infomation-content .article-content .page-bar {
  text-align: left;
}

.new-infomation-content .article-content .page-bar a {
  color: #646464;
}
