.main {
}

.g-fg-grey {
  color: #E5E5E5;
}

.g-bg-grey {
  background: #E5E5E5;
}

.generic-panel-component {
  text-align: center;
  padding: 30px 0px
}

.generic-content-component {
  width: 80%;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}
