<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>todo list</title>
    <!-- uikit files -->
    <link rel="stylesheet" href="static/js/lib/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="static/js/lib/uikit/css/uikit.almost-flat.min.css">
    <script src="static/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="static/js/lib/uikit/js/uikit.min.js"></script>
    <link rel="stylesheet" href="static/js/lib/uikit/css/components/form-advanced.min.css">
    <!-- react files -->
    <script src="static/js/lib/react/react.min.js"></script>
    <script src="static/js/lib/react/react-dom.min.js"></script>
    <script src="static/js/lib/ReactRouter.min.js"></script>

    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>

    <script src="static/js/app/ui_component.js"></script>
    <script src="static/js/app/main.js"></script>
</body>
</html>
